* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7; /* Fondo gris claro */
    color: #333; /* Texto gris oscuro */
}

header {
    background: #333; /* Fondo negro */
    color: #e29d07; /* Texto dorado */
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    font-style: italic;
}

nav ul {
    background: #555; /* Gris oscuro para la barra de navegación */
    color: #000000; /* Texto dorado */
    padding: 10px;
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000000; /* Texto dorado */
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffffff; /* Texto blanco al pasar el cursor */
    text-decoration: underline;
}

main {
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco para las secciones */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 40px;
}

.section h2 {
    color: #333; /* Título en negro */
    border-bottom: 3px solid #f7c143; /* Subrayado dorado */
    padding-bottom: 10px;
}

.img-section {
    width: 40%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

ul li {
    background: #f7c143; /* Fondo dorado para los elementos de la lista */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border-left: 5px solid #333; /* Borde negro en el lado izquierdo */
    color: #333; /* Texto negro */
}

footer {
    text-align: center;
    padding: 20px;
    background: #333; /* Fondo negro */
    color: #000000; /* Texto dorado */
    margin-top: 20px;
    border-top: 3px solid #f7c143;
}

footer p {
    margin: 0;
}
